<div class="terminal-container">
  <div class='fakeScreen'>
    <p class='line2 shell-script'>
      JosephNechleba@MacBook-Pro ~ $ Hello World, my name is Joseph Nechleba.
    </p>
    <p class='line3 shell-script'>Cornell Computer Science '19.</p>
    <p class='line4 shell-script'>Software Developer at InterSystems Corporation: July 2019 - Present </p>
    <p class = 'line5-bash shell-script'>
      cat
      <a class='line5-resume' href="../../assets/UpdatedResume.pdf">
        RESUM&#201;
      </a>
    </p>
    <p class='line6 shell-script'>
      [?]
      <a class='line6' href='mailto:jdn64@cornell.edu'>
        jdn64@cornell.edu
      </a>
    </p>
    <p class='line7 shell-script'>>
      <span class='cursor'>_</span>
    </p>
  </div>
  <div class="separator"></div>
  <div class="overallDiv">
    <div class="tkdPicDivLeft"></div>
    <div class="aboutPicDivRight">
      <div class="jellyPicDiv"></div>
      <div class="aboutPicDivRightBottom">
         <div class="moonPicDiv"></div>
         <div class="parisPicDiv"></div>
      </div>
    </div>
  </div>
</div>

