<div class="projects-container">
  <div class='square'>
    <div class='table'>
      <div class='table-cell'>
        <a class='links' href='https://github.com/jnech1997/angularPortfolio'>
          <img src='../assets/images/angular.png' alt='angular'>
          <em><h3 mat-list-item class='description'>Website Source</h3></em>
        </a>
      </div>
    </div>
  </div>
  <div class='square'>
    <div class='table'>
      <div class='table-cell'>
        <a class='links' href='https://jnech1997.github.io/projects/jellyHopWeb/index.html'>
          <img src='../assets/images/jelly.png' alt='jelly'>
          <em><h3 mat-list-item class='description'>Jelly Hop Platformer</h3></em>
        </a>
      </div>
    </div>
  </div>
  <div class='square'>
    <div class='table'>
      <div class='table-cell'>
        <a class='links' href='https://github.com/jnech1997/Trie'>
          <img src='../assets/images/java.png' alt='java'>
          <em><h3 class='description'>Trie Data Structure</h3></em>
        </a>
      </div>
    </div>
  </div>
  <div class='square'>
    <div class='table'>
      <div class='table-cell'>
        <a class='links' href='https://jnech1997.github.io/'>
          <img src='../assets/images/javascript.png' alt='javascript'>
          <em><h3 class='description'>Old Projects Website</h3></em>
        </a>
      </div>
    </div>
  </div>
  <div class='square'>
    <div class='table'>
      <div class='table-cell'>
        <a class='links' href='https://github.com/jnech1997/Othello'>
          <img src='../assets/images/ocaml.jpg' alt='ocaml'>
          <em><h3 class='description'>Othello in OCaml</h3></em>
        </a>
      </div>
    </div>
  </div>
  <div class='square'>
    <div class='table'>
      <div class='table-cell'>
        <a class='links' href='https://github.com/jnech1997/spotify_m_rec'>
          <img src='../assets/images/python.png' alt='python'>
          <em><h3 class='description'>Music Recommendation</h3></em>
        </a>
      </div>
    </div>
  </div>
  <div class='square'>
    <div class='table'>
      <div class='table-cell'>
        <a class='links' href='https://jnech1997.github.io/projects/d3GraphVisualization/index.html'>
          <img src='../assets/images/javascript.png' alt='javascript'>
          <em><h3 class='description'>Search Algorithms</h3></em>
        </a>
      </div>
    </div>
  </div>
  <div class='square'>
    <div class='table'>
      <div class='table-cell'>
        <a class='links' href='https://github.com/jnech1997/hack_anywhere'>
          <img src='../assets/images/swift.png' alt='swift'>
          <em><h3 class='description'>Mac Gesture Control</h3></em>
        </a>
      </div>
    </div>
  </div>

</div>