.home-background {
  width: 100vw;
  height: 100vh;
  // background-image: url("../../assets/images/home.jpg");
  // background-repeat: round;
}

.home-image {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.welcome-message {
  font-size: 5em;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 15px;
  color: #e4f1fe;
  font-family: 'Sacramento', cursive;
}